* {
  margin: 0;
  padding: 0;
}


/* Background Photo found on Unsplash */

html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFF;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
  overflow-y: hidden;
}

.background-1 {
  background: url(../images/henry-be.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: auto;
}

.background-2 {
  background: url(../images/roberto-nickson.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: auto;
  position: relative;
}

.row-fixed {
  width: 100%;
  position: absolute;
  bottom: 10%;
  text-align: center;
}

.Theo-msg {
  position: absolute;
  bottom: -2000px;
  left: 30%;
  width: auto;
  transition: bottom 1s ease-in-out;
  height: 85%;
}

.Theo-msg-img img {
  position: absolute;
  bottom: -160px;
  left: 0;
}
.Maria-msg {
  position: absolute;
  left: -40px;
  bottom: -2000px;
  width: auto;
  transition: bottom 1s ease-in-out;
  height: 80%;
}

.Maria-msg-img img {
  position: absolute;
  bottom: -30px;
  left: 0;
}

.Koen-msg {
  position: absolute;
  left: 40%;
  bottom: -2000px;
  width: auto;
  transition: bottom 1s ease-in-out;
  height: auto;
  max-width: 400px;
}

.Koen-msg-img img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Loet-msg {
  position: absolute;
  bottom: -2000px;
  left: 70%;
  width: auto;
  transition: bottom 1s ease-in-out;
  height: 80%;
}

.Loet-msg img {
  position: absolute;
  bottom: -30px;
  left: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media only screen and (min-height: 900px) {
  .Loet-msg {
    height: 60%;
  }
  .Koen-msg {
    height: 45%;
  }
  .Maria-msg {
    height: 55%;
  }
  .Theo-msg {
    height: 70%;
  }
}

.bericht {
  /* max-height: 50px;
  max-width: 200px; */
  background-color: #FFF;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
}

.bericht-maria {
  background-color: transparent;
}

.bericht-theo {
  background-color: transparent;
}

.bericht-koen {
  background-color: transparent;
}

.bericht-loet {
  margin-left: 100px;
}

.mees-vogel {
  width: auto;
  position: absolute;
  top: 20px;
  left: 10%;
}

.mees-vogel img {
  height: 100px;
}

.mees-vogel img:hover {
  height: 200px;
}

.bird-back {
  width: auto;
  position: absolute;
  top: 20px;
  left: 950px;
  z-index: 10;
}

.bird-back img {
  height: 100px;
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
}

.bird {
  z-index: 10;
  transition: transform 5s;
  transition-timing-function: ease;
}

.birdmove {
  transform: translateX(950px);
  animation: oscillate 5s;
  animation-timing-function: ease;
}

.birdmove-back {
  transform: translateX(0px);
  animation: oscillate 5s;
  animation-timing-function: ease;
}

@keyframes oscillate {
  10% {
    top: 50px;
  }
  30% {
    top: 150px;
  }
  60% {
    top: 100px;
  }
  80% {
    top: 40px;
  }
  100% {
    top: 20px;
  }
}

.links {
  position: absolute;
  left: 0%;
  top: 50%;
}

.rechts {
  position: absolute;
  right: 0%;
  top: 50%;
}

.image-holder {
  position: relative;
  width: 100%;
  height: 80%;
  top: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.galerij img {
  display: block;
}

.vlag-RUS {
  position: absolute;
  top: 20px;
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.vlag-NL {
  position: absolute;
  top: 20px;
  left: 0;
}

.image {
  display: inline-block;
  position: relative;
  height: 80%;
  width: auto;
  margin-right: 100px;
  color: #FFF;
  text-shadow: 2px 2px black;
}

.happybday {
  position: fixed;
  background: url("../images/happybday.gif") no-repeat top;
  background-size:contain;
  height: 300px;
  width: 40%;
  top: -20px;
  left: 0;
  right: auto;

}

.banana {
  position: absolute;
  background: url("../images/banana.gif") no-repeat bottom;
  height: 300px;
  width: 250px;
  bottom: 0;
  left: 0;
}

.quiet {
  float: right;
}

.buttons {
  z-index: 4;
}

.modal-content {
  background-color: transparent !important;
}

.thumbnail:hover{
  cursor: pointer;
  border: 3px solid blue;
}



.mees-shrek:hover {
content: url("../images/mees-shrek-2.png");
}

.koenmasker:hover {
content: url("../images/koenmasker2.png");
}

.allen:hover {
content: url("../images/allen2.png");
}

.meesbad:hover {
content: url("../images/mees-bad-hover.gif");
}

.meesmilan:hover {
content: url("../images/mees-milan-hover.gif");
}

.bijtjestipje:hover {
content: url("../images/bijtje-stipje-hover.gif");
}

.meesmarina:hover {
content: url("../images/mees-marina-hover.gif");
}

.papaslaapt:hover {
content: url("../images/papaslaapt-hover.gif");
}
